<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="connectionString" value="Data Source=okktserver.database.windows.net;Initial Catalog=journal;User ID=gorshkov;Password=Qwerty123456"/>
    </appSettings>
 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
